.fixed-bottom {
  bottom: 2px;
  right: 2px;
  position: fixed;
}
.fixed-bottom a {
  margin-right: 2px;
}
td, th {
  border-bottom: 1px dotted black;
  padding: 3px;
  margin: 0
}
div {
  margin-bottom: 2px;
}
body {
  padding-bottom: 5px;
}
