teiHeader {
    display:none
}
*, def > q {
    display:block
}
form[type="lemma"] * {
    margin-left: 10px
}
form[type="lemma"] orth {
    font-weight:bold;
    margin-left: unset
}
form[type="lemma"] orth::after {
    content: oxy_concat(' (',oxy_xpath('../@xml:lang'),')')
}
pron::before {
    content: "pron: "
}
stress::before {
    content: "stress: "
}
hyph::before {
    content: "hyph: "
}
note::before {
    content: "("
}
note::after {
    content: ")"
}
note {
    display: inline;
}
cit quote::before {
    content: oxy_concat('- ',oxy_xpath('../@type'),': ')
}
def quote::before, def gloss::before {
    content: "- definition: "
}