@media screen {
  #printSection {
      display: none;
  }
  #details .modal-xl {
    max-width: 1150px;
  }
  #details .modal-lg {
    max-width: 960px;
  }
  .grecaptcha-badge{
    visibility: collapse !important;
  }
}

@media print {
  body.details * {
    visibility:hidden;
  }
   #printSection button.copy {display: none; }
  #printSection, #printSection * {
    visibility:visible;
    }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }

    
}

.card-header  h4 {
  float: right;
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.card-header.active h4 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
