<div data-template="i18n:translate" data-catalogues="resources/i18n" xmlns:i18n="http://exist-db.org/xquery/i18n" lang="nl" class="modal fade" id="detailModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <button type="button" onclick="printElement(document.getElementById('sense'));return false;" class="btn py-2 btn-secondary fa fa-print"/>
        <h5 class="modal-title"><i18n:text key="lemmadetails">details</i18n:text></h5>
        <button type="button" class="btn py-2 btn-secondary fa fa-times" data-bs-dismiss="modal"/>
      </div>
      <div class="modal-body">
        <div data-template="teidictapp:htmlDetails"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="py-2 btn btn-secondary" data-bs-dismiss="modal"><i18n:text key="close">Sluit</i18n:text></button>
      </div>
    </div>
  </div>
</div>