@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
$body-color: shade-color(#fff,10%);
$body-bg: #3A557C;
$card-bg: $body-bg;
$table-bg: $body-bg;
$modal-content-bg: $body-bg;
$nav-tabs-link-active-color: $body-color;
$table-caption-color: $body-color;
$light: rgba(0,0,0,0.15);
$link-color: tint-color(green,50%);
$btn-link-color: $link-color;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: #dee2e6 #dee2e6 $body-bg;
$card-cap-bg: rgba(0,0,0,0.35);
$link-hover-color: $body-color;
$border-color: shade-color($body-color,30%);
$theme-colors: (
  "primary": #fff,
  "danger": #FF8700,
  "secondary": shade-color($light,20%),
  "dark": #ffc107,
  "info": #D9EDF7
);

@import "../node_modules/bootstrap/scss/bootstrap";
